.bloqueado{
    background-color: #fd9f8b;
}
.desbloqueado{
    background-color: #cef8c6;
}
#formLogin {
    width: 50%;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
input{
    padding: 1%; 
    margin-bottom: 2%; 
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.btnEnviar{
    padding: 1%;
    margin-bottom: 3%;
}
#error{
    color: #ff0000;
    text-align: left;
    display: none;
    font-size: large;
    margin-bottom: 2%;
}
#title{
    text-align: center;
}
#tablaDatos {
    margin: 0 auto; 
    border: 1px solid #000; 
    border-collapse: collapse;
}

#tablaDatos tr {
    height: 50px;
    width: 40px; 
    border: 1px solid #000; 
}

#tablaDatos th {
    background-color: #ffff; 
    padding: 5px;
    text-align: left; 
    border: 1px solid #000; 
}

#tablaDatos td {
    padding: 5px;
    text-align: left; 
    border: 1px solid #000; 
    width: 100px;
}
#bloquear{
    padding: 5px;
    background-image: url(../img/pulgarAbajo.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    border: none; 
    width: 50px; 
    height: 50px; 
    cursor: pointer; 
}
#desbloquear{
    padding: 5px;
    background-image: url(../img/pulgarArriba.png); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    border: none; 
    width: 50px; 
    height: 50px; 
    cursor: pointer;
}
